name: CI - Dev

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - test

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.11'

      - name: Instalar dependencias
        run: |
          pyton -m pip install --upgrade pip
          pip install pytest

      - name: Executar testes
        run: pytest